{% extends "store/base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h1>Contact Support</h1>
        <p>Если у вас есть какие-либо вопросы или неполадки, пожалуйста, не стесняйтесь обращаться в нашу службу поддержки.</p>
        
        <h2>Contact Information</h2>
        <p>Email: <a href="mail:help_sbercybershop@sber.ru">help_sbercybershop@sber.ru</a></p>
        <p>Phone: <a href="phone:900">900</a></p>
    </div>
</body>
{% endblock %} 

