<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11." fill="currentColor"></path></svg>
        <span class="fs-4">SberCyberShop</span>
      </a>

      <nav class="d-flex align-items-center flex-wrap mt-2 mt-md-0 ms-md-auto me-3">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/help">Help</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
                  <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name|title }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </nav>    
    </div>    
  </header>